@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --primary-color: #3aa959;
  --secondary-text-color: #272727;
  --primary-text-color: #404040;
  --highlight-color: #f0f7ff;
  --sidebar-text-color: #C7C7C7;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Lato", sans-serif;
  --explorer-color: #111A2E;
  --explorer-border-color: #263343
}
html,
body {
  padding: 0px;
  margin: 0px;
  font-family: var(--primary-font);
  width: 100vh;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: none;
  background-color: #E7E7E7;
}
button {
  font-family: var(--primary-font);
  font-weight: 500;
}

.no__data_container{
  width: 95%;
  height: 100%;
  padding: 10px 0px 20px 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.no__data_container > h3 {
  margin: 0px;
  font-weight: 500;
  text-align: center;
}
.no__data_container > h3 > strong{
  text-decoration: underline;
}
.no__data_container > button{
  width: 20%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

input{
  font-family: var(--primary-font);
}

button{
  border: none;
  outline: none;
  cursor: pointer;
}
.navigation-icon {
  color: black;
  margin-right: 20px;
}