.add__user_modal{
    width: 700px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.add__user_heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add__user_heading > h3 {
    margin: 0px;
    color: var(--primary-text-color);
    font-size: 20px;
}
.add__user_details{
    width: 100%;
    margin-top: 5%;
}
.add__user_form{
    width: 100%;
}
.add__user_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}
.add__user_group{
    width: 45%;
    margin-right: 30px;
}
.add__user_group > p {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    color: var(--primary-text-color);
}
.add__user_group > textarea {
    width: 100%;
    border: 1px solid var(--primary-text-color);
    outline: none;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 10px;
}
.add__user_group > select {
    width: 100%;
    border: 1px solid var(--primary-text-color);
    outline: none;
    height: 50px;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 10px;
}
.add__user_group > input {
    width: 100%;
    border: 1px solid var(--primary-text-color);
    outline: none;
    height: 30px;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 10px;
}
.add__user_group > input:disabled {
    width: 100%;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.136);
    cursor: not-allowed;
}
.add__user_group > span{
    font-size: 10px;
    margin: 0px;
}
.add__user_button_group{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
}
.add__user_button{
    outline: none;
    border: none;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    width: 20%;
    margin-right: 20px;
    cursor: pointer;

}
.add__user_button_cancel{
    outline: none;
    border: 1px solid var(--primary-text-color);
    border-radius: 5px;
    color: black;
    background-color: transparent;
    padding: 10px;
    width: 20%;
    cursor: pointer;

}