.mint__stable_coin_container{
    width: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.mint__stable_coin_heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mint__stable_coin_form{
    width: 100%;
}
.mint__stable_form{
    width: 100%;
}
.mint__stable_row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}
.mint__stable_form_group{
    width: 100%;
    margin-right: 30px;
    margin-top: 20px;
}
.mint__stable_form_group > p {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    color: var(--primary-text-color);
}
.mint__stable_form_group > textarea {
    width: 100%;
    border: 1px solid var(--primary-text-color);
    outline: none;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 10px;
}
.mint__stable_form_group > select {
    width: 100%;
    border: 1px solid var(--primary-text-color);
    outline: none;
    height: 50px;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 10px;
}
.mint__stable_form_group > input {
    width: 95%;
    border: 1px solid var(--primary-text-color);
    outline: none;
    height: 30px;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-weight: 500;
    padding: 10px;
}
.mint__stable_button_group{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
}
.mint__stable_button{
    outline: none;
    border: none;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    width: 20%;
    margin-right: 20px;
    cursor: pointer;

}
.mint__stable_button_cancel{
    outline: none;
    border: 1px solid var(--primary-text-color);
    border-radius: 5px;
    color: black;
    background-color: transparent;
    padding: 10px;
    width: 20%;
    cursor: pointer;

}