.all__transaction_container {
  width: 100%;
  height: 100%;
  background-color: #162038;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}
.transaction__content {
  width: 90%;
  height: 100%;
  padding-bottom: 30px;
}
.all__transaction_heading {
  width: 100%;
}
.all__transaction_heading > h3 {
  color: white;
  font-size: 16px;
  margin: 0px;
  padding: 30px;
  font-weight: 500;
}
.divider {
  width: 100%;
  border-bottom: 1px solid var(--explorer-border-color);
}
.all__transaction_data {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  background-color: var(--explorer-color);
  border: 1.5px solid var(--explorer-border-color);
}
.transaction__table_heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading {
  padding: 10px 0px 10px 10px;
}
.heading > h3 {
  margin: 0px;
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.transaction__table_footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid var(--explorer-border-color);
}
.transaction__table_content {
  width: 100%;
  min-height: 30vh;
}
.transaction__table {
  width: 100%;
}
table,
td,
th {
  font-size: 12px;
  color: white;
  border-collapse: collapse;
  border: none;
}
th {
  text-align: left;
}
tr {
  height: 50px;
  border-bottom: 1px solid var(--explorer-border-color);
}
td {
  padding: 10px;
  font-weight: 300 !important;
}
.table__address{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.method{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--explorer-border-color);
    text-align: center;
    background-color: #162138;
}
.all__transaction_footer{
    width: 100%;
    height: 50px;
}